body {
  font-family: Arial, sans-serif;
}

/* Ensure the map fills the viewport height */
#map {
  height: 100vh;
}

/* Legend styles */
.legend {
  background: white;
  line-height: 1.5em;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}

/* Counter styles */
.counter {
    position: absolute;
    top: 20px; /* Adjust this value if you need the counter to be further down */
    left: 20px; /* Align with the left side of the map */
    background-color: white;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it stays above other elements */
    color: #333;
  }

/* Button to download GeoJSON */
.download-button {
  position: absolute;
  z-index: 1000;
  background-color: #f8f8f8;
  color: #262626;
  padding: 8px 12px;
  border: 2px solid #9b9b9b4c;
  cursor: pointer;
  border-radius: 4px;
  transition: top 0.3s, left 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos das camadas */
.plate-label {
  font-style: italic; /* Italic font */
  color: rgb(0, 0, 0); /* Text color */
  padding: 2px; /* Padding around the text */
}

/* Default button positioning for medium to large screens */
@media (min-width: 768px) {
  .download-button {
    top: 390px;
    left: 16px;
  }

  .counter {
    top: 340px;
    font-size: 16px;
    padding: 10px 16px;
  }
}

/* Responsive positioning for small devices (tablets and phones) */
@media (max-width: 767px) {
  .download-button {
    top: auto;
    bottom: auto;
    left: 28%;
    transform: translateX(-50%);
  }

  .counter {
    top: 10px;
    left: 10px;
    font-size: 12px;
    padding: 6px 10px;
  }
}

/* Additional styling for extra-small devices (320px - 425px) */
@media (max-width: 426px) {
  .download-button {
    top: 77%;
    font-size: 11px;
    padding: 6px 10px;
    left: 70px;
  }

  .legend {
    font-size: 12px;
    padding: 8px;
  }

  .counter {
    top: 70%;
    left: 20px;
    font-size: 11px;
    padding: 5px 8px;
  }
}

/* Handle very large devices (1440px and up) */
@media (min-width: 1440px) {
  .download-button {
    top: 400px;
    left: 30px;
    font-size: 16px;
    padding: 10px 16px;
  }

  .legend {
    font-size: 16px;
    padding: 12px;
  }

  .counter {
    font-size: 18px;
    padding: 12px 18px;
  }
}
